@{
    ViewBag.Title = "Substitutions";
}

<div class="text-center" style="margin-bottom: 10px;">
    <h1>Substitutions</h1>
    <input id="url" name="url" type="text" value="http://hackysu.com/live/" />
    <a href="javascript:void()" id="submit" class="btn btn-primary btn-large">Submit</a>
</div>

<iframe id="result" src="" class="text-center hidden" style="width:100%; height: 1000px;"></iframe>