@{
    ViewBag.Title = "Make the News Less Boring";
}

<div class="text-center" style="margin-bottom: 10px;">
    <h1>Make the News Less Boring</h1>
    <input id="url" name="url" type="text" value="http://money.cnn.com/2015/04/15/technology/google-europe-anti-trust-lawsuit/index.html" />
    <a href="javascript:void()" id="submit" class="btn btn-primary btn-large">Submit</a>
</div>

<iframe id="result" src="" class="text-center hidden" style="width:100%; height: 1000px;"></iframe>